[submodule "HazQh/vendor/spdlog"]
	path = HazQh/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HazQh/vendor/GLFW"]
	path = HazQh/vendor/GLFW
	url = https://github.com/huahahahaw/glfwForHazQh
[submodule "HazQh/vendor/Imgui"]
	path = HazQh/vendor/Imgui
	url = https://github.com/huahahahaw/ImguiForHazQh
[submodule "HazQh/vendor/glm"]
	path = HazQh/vendor/glm
	url = https://github.com/g-truc/glm
